*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
section .dots span{
    position: absolute;
    height: 50px;
    width: 50px;
    background: yellow;
    border-radius: 50%;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(350px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
    opacity: 1;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}